<html>
	<head><link href="/css/style.css" rel="stylesheet" type="text/css"></head>
	<body>
		<div class="radar-wrapper">
			<div class="type-selector six-selector">
				<button id="smokes-button" onclick="switchType('smokes')">Smokes</button>
				<button id="molotovs-button"  onclick="switchType('molotovs')">Molotovs</button>
				<button id="flashes-button"  onclick="switchType('flashes')">Flashes</button>
				<button id="grenades-button"  onclick="switchType('grenades')">Grenades</button>
				<button id="location-button"  onclick="switchType('location')">Location</button>
				<button onclick="copyJSON()" class="json-button">Copy JSON to clipboard</button>
			</div>
			<img id="radar-img">
		</div>
		<img id="util-placer">
		<div class="location-placer"></div>
		<div id="smokes"></div>
		<div id="molotovs"></div>
		<div id="flashes"></div>
		<div id="grenades"></div>
	</body>
</html>
<script>
	const LOCATION_HALFSIZE = 10
	const NADE_HALFWIDTH = 27
	const NADE_HALFHEIGHT = 29

	let lastPlaced = "";
	let selectedNade = "";
	const nades = <%- JSON.stringify(nades) %>;
	const utilPlacer = document.getElementById('util-placer')
	const radarImg = document.getElementById('radar-img')
	const locationPlacer = document.getElementsByClassName('location-placer')[0]
	
	nades.smokes.forEach(nade => addNade(nade.x, nade.y, "smokes", "../resources/SmokeIcon.svg"));
	nades.grenades.forEach(nade => addNade(nade.x, nade.y, "grenades", "../resources/GrenadeIcon.svg"));
	nades.molotovs.forEach(nade => addNade(nade.x, nade.y, "molotovs", "../resources/MolotovIcon.svg"));
	nades.flashes.forEach(nade => addNade(nade.x, nade.y, "flashes", "../resources/FlashIcon.svg"));
	switchType("smokes")
	
	radarImg.src = "../resources/<%- radarImg %>"
	radarImg.addEventListener("click", event => {
		if (selectedNade === "location") {
			locationRect = locationPlacer.getBoundingClientRect()
			lastPlaced = {
				href: "",
				x: clamp(locationRect.x),
				y: clamp(locationRect.y)
			}
		} else {
			utilRect = utilPlacer.getBoundingClientRect()
			lastPlaced = {
				x: clamp(utilRect.x),
				y: clamp(utilRect.y),
				locations: [
					{
						href: "",
						x: 0,
						y: 0
					}
				]
			}
		}
		if (selectedNade !== "location") {
			addNade(
				clamp(lastPlaced.x), 
				clamp(lastPlaced.y),
				selectedNade, 
				utilPlacer.src
			)
		}
	})

	document.addEventListener("mousemove", event => {
		utilPlacer.style.left = clamp(event.clientX - NADE_HALFWIDTH) + "px"
		utilPlacer.style.top = clamp(event.clientY - NADE_HALFHEIGHT) + "px"
		locationPlacer.style.left = clamp(event.clientX - LOCATION_HALFSIZE) + "px"
		locationPlacer.style.top = clamp(event.clientY - LOCATION_HALFSIZE) + "px"
	})

	function addNade(x, y, wrapperString, icon) {
		const img = document.createElement("img")
		img.style.left = x + "px"
		img.style.top = y + "px"
		img.className = "util-image"
		img.src = icon
		document.getElementById(wrapperString).appendChild(img)
	}

	function clamp(x) {
  	return Math.max(0, Math.min(974, x));
	}
	
	function switchType(type) {
		selectedNade = type
		locationPlacer.style.display = "none"
		utilPlacer.style.display = "block"
		if (selectedNade == "smokes") {
			utilPlacer.src = "../resources/SmokeIcon.svg"
		}
		if (selectedNade == "molotovs") {
			utilPlacer.src = "../resources/MolotovIcon.svg"
		}
		if (selectedNade == "flashes") {
			utilPlacer.src = "../resources/FlashIcon.svg"
		}
		if (selectedNade == "grenades") {
			utilPlacer.src = "../resources/GrenadeIcon.svg"
		}
		if (selectedNade == "location") {
			utilPlacer.src = ""
			locationPlacer.style.display = "block"
			utilPlacer.style.display = "none"
		}
		selectButton(type)
		showNades(type)
	}

	function selectButton(type) {
		document.getElementById('molotovs-button').className = ""
		document.getElementById('smokes-button').className = ""
		document.getElementById('flashes-button').className = ""
		document.getElementById('grenades-button').className = ""
		document.getElementById('location-button').className = ""
		document.getElementById(type + '-button').className = "selected"
	}

	function showNades(type) {
		document.getElementById('smokes').style.display = "none"
		document.getElementById('molotovs').style.display = "none"
		document.getElementById('flashes').style.display = "none"
		document.getElementById('grenades').style.display = "none"
		if (type !== "location") {
			document.getElementById(type).style.display = "block"
		}
	}

	function copyJSON() {
		const elem = document.createElement('textarea');
		elem.value = JSON.stringify(lastPlaced);
		document.body.appendChild(elem);
		elem.select();
		document.execCommand('copy');
		document.body.removeChild(elem);
	}
</script>