<html>
	<head>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="radar-wrapper">
			<img id="radar-img" draggable="false">
		</div>
	</body>
</html>
<script>
	document.getElementById('radar-img').src = "resources/<%- radarImg %>"

	nades.smokes.forEach(nade => addNade(nade, "smokes", "SmokeIcon.svg"));
	nades.molotovs.forEach(nade => addNade(nade, "molotovs", "MolotovIcon.svg"));
	nades.flashes.forEach(nade => addNade(nade, "flashes", "FlashIcon.svg"));
	nades.grenades.forEach(nade => addNade(nade, "grenades", "GrenadeIcon.svg"));
	switchType("molotovs")

	
</script>