<body>
	<img id="radar-img">
	<div id="smokes"></div>
	<div id="molotovs"></div>
	<div id="flashes"></div>
	<div id="grenades"></div>
</body>
<style>
	body {
		margin: 0;
	}

	.util-image {
		position: absolute;
		width: 50px;
		height: 50px;
		opacity: 0.7;
	}

	.util-image:hover {
		-webkit-filter: drop-shadow(0px 0px 10px #222);
		filter: drop-shadow(0px 0px 10px #222);
	}
</style>
<script>
	const nades = <%- JSON.stringify(nades) %>;
	document.getElementById('radar-img').src = "resources/<%- radarImg %>"

	nades.smokes.forEach(nade => addNade(nade, "smokes", "SmokeIcon.svg"));
	nades.grenades.forEach(nade => addNade(nade, "grenades", "GrenadeIcon.svg"));
	nades.molotovs.forEach(nade => addNade(nade, "molotovs", "MolotovIcon.svg"));
	nades.flashes.forEach(nade => addNade(nade, "flashes", "FlashIcon.svg"));

	function addNade(nade, wrapperString, icon) {
		const img = document.createElement("img")
		img.style.left = nade.left + "px"
		img.style.top = nade.top + "px"
		img.className = "util-image"
		img.onclick = () => { window.location.href = nade.href}
		img.src = "resources/SmokeIcon.svg"
		document.getElementById(wrapperString).appendChild(img)
	}
</script>